<!-- app/views/shared/_navbar.html.erb -->

<nav class="navbar">
    <div class="container-fluid">
        <%= link_to 'Home', root_path, class: 'navbar-brand' %>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <%= link_to 'Learning', learning_path %>
                </li>
            </ul>

            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">

                    <button type="submit" class="btn btn-default">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</nav>
