<!DOCTYPE html>
<html>
    <head>
        <title>ImpRufus</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <%= render 'shared/navbar' %>

        <div class="row">
            <div id="main-content" class="col-xs-10">
                <%= yield %>
            </div>

            <div id="friendlist" class="col-xs-2"
        </div>
    </body>
</html>
